##IBM Data Science Final project EDA using SQL

In [1]:
!pip install --force-reinstall ibm_db ibm_db_sa
import ibm_db

Collecting ibm_db
  Downloading ibm_db-3.2.6-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (33 kB)
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting sqlalchemy>=0.7.3 (from ibm_db_sa)
  Downloading sqlalchemy-2.0.41-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet>=1 (from sqlalchemy>=0.7.3->ibm_db_sa)
  Downloading greenlet-3.2.3-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy>=0.7.3->ibm_db_sa)
  Downloading typing_extensions-4.14.0-py3-none-any.whl.metadata (3.0 kB)
Downloading ibm_db-3.2.6-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (43.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 MB 19.3 MB/s eta 0:00:00
Downloading ibm_db_sa-0.4.2-py3-none-any.whl (31 kB)
Downloading sqlalchemy-2.0.41-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 83.7 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp311-cp311-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (585 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 585.5/585.5 kB 30.0 MB/s eta 0:00:00
Downloading typing_extensions-4.14.0-py3-none-any.whl (43 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 3.4 MB/s eta 0:00:00
Installing collected packages: ibm_db, typing-extensions, greenlet, sqlalchemy, ibm_db_sa
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.14.0
    Uninstalling typing_extensions-4.14.0:
      Successfully uninstalled typing_extensions-4.14.0
  Attempting uninstall: greenlet
    Found existing installation: greenlet 3.2.3
    Uninstalling greenlet-3.2.3:
      Successfully uninstalled greenlet-3.2.3
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.41
    Uninstalling SQLAlchemy-2.0.41:
      Successfully uninstalled SQLAlchemy-2.0.41
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torch 2.6.0+cu124 requires nvidia-cublas-cu12==12.4.5.8; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cublas-cu12 12.5.3.2 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-cupti-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-cupti-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-nvrtc-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-nvrtc-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cuda-runtime-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-runtime-cu12 12.5.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cudnn-cu12==9.1.0.70; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cudnn-cu12 9.3.0.75 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cufft-cu12==11.2.1.3; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cufft-cu12 11.2.3.61 which is incompatible.
torch 2.6.0+cu124 requires nvidia-curand-cu12==10.3.5.147; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-curand-cu12 10.3.6.82 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cusolver-cu12==11.6.1.9; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusolver-cu12 11.6.3.83 which is incompatible.
torch 2.6.0+cu124 requires nvidia-cusparse-cu12==12.3.1.170; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusparse-cu12 12.5.1.3 which is incompatible.
torch 2.6.0+cu124 requires nvidia-nvjitlink-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-nvjitlink-cu12 12.5.82 which is incompatible.
Successfully installed greenlet-3.2.3 ibm_db-3.2.6 ibm_db_sa-0.4.2 sqlalchemy-2.0.41 typing-extensions-4.14.0

In [ ]:

# Install necessary libraries
!pip install --force-reinstall ibm_db ibm_db_sa
import ibm_db

# Load the SQL extension for Colab
%load_ext sql



# Establish a connection to your DB2 database
# IMPORTANT: Replace 'kfb18401', 'tmdVBFwfLEd0afel',
# '55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud',
# '31929', and 'bludb' with your actual DB2 service credentials.
# If your database is named differently, update 'bludb' accordingly.

In [ ]:
%sql ibm_db_sa://kfb18401:tmdVBFwfLEd0afel@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb?security=SSL

# Task 1: Display the names of the unique launch sites in the space mission
# This query selects all distinct values from the LAUNCH_SITE column.

In [ ]:
%sql SELECT DISTINCT LAUNCH_SITE FROM SPACEXDATASET1;

# Task 2: Display 5 records where launch sites begin with the string 'CCA'
# This query filters records where LAUNCH_SITE starts with 'CCA' and limits the output to 5 rows.

In [ ]:
%sql SELECT * FROM SPACEXDATASET1 WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

# Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql SELECT SUM(payload_mass__kg_) AS Total_Payload_Mass_NASA FROM SPACEXDATASET1 WHERE customer='NASA (CRS)';

# Task 4: Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql SELECT AVG(payload_mass__kg_) AS average_payload_mass_F9_v11 FROM SPACEXDATASET1 WHERE booster_version='F9 v1.1';

# Task 5: List the date when the first successful landing outcome in ground pad was achieved.

In [ ]:
%sql SELECT MIN(DATE) AS first_successful_landing_date FROM SPACEXDATASET1 WHERE landing__outcome='Success (ground pad)';

# Task 6: List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%sql SELECT booster_version, payload_mass__kg_, landing__outcome FROM SPACEXDATASET1 WHERE landing__outcome='Success (drone ship)' AND payload_mass__kg_ > 4000 AND payload_mass__kg_ < 6000;

# Task 7: List the total number of successful and failure mission outcomes

In [ ]:
%sql SELECT mission_outcome, COUNT(mission_outcome) AS Total_number_of_mission_outcomes FROM SPACEXDATASET1 GROUP BY mission_outcome;

# Task 8: List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
%sql SELECT DISTINCT(booster_version), payload_mass__kg_ FROM SPACEXDATASET1 WHERE payload_mass__kg_=(SELECT MAX(payload_mass__kg_) FROM SPACEXDATASET1);

# Task 9: List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [ ]:
%sql SELECT landing__outcome, booster_version, launch_site FROM SPACEXDATASET1 WHERE YEAR(DATE)=2015 AND landing__outcome='Failure (drone ship)';

# Task 10: Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:
%sql SELECT landing__outcome, COUNT(*) AS Count_of_landing_outcomes FROM SPACEXDATASET1 WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY landing__outcome ORDER BY COUNT(*) DESC;